# Виртуальные окружения
venv/
env/
*.pyc
__pycache__/

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
tmp/

# Конфиги с паролями (если есть)
config.local.json
*.env

# Установщики и билды
installer/*.exe
dist/
build/
*.spec
__pycache__/
*.pyc
*.log
*.env

